<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--생성 스크립트-->
<script type="text/javaScript" charset="UTF-8">

</script>
</body>
</html>