<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="step3" method="post">
    <p>
        <label>이메일:<br>
            <input type="text" name="email" id="email" th:value="${registerRequest.email}">
        </label>
    </p>
    <p>
        <label>이름:<br>
            <input type="text" name="name" id="name" th:value="${registerRequest.name}">
        </label>
    </p>
    <p>
        <label>비밀번호:<br>
            <input type="password" name="password" id="password">
        </label>
    </p>
    <p>
        <label>비밀번호 확인:<br>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </label>
    </p>
    <input type="submit" value="가입 완료">
</form>
</body>
</html>