<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.repository.ProductMapper">

    <select id="selectProductById" resultType="com.sky.model.Product">
        SELECT prod_id
             ,prod_name
             ,prod_price
        FROM products
        WHERE prod_id = #{prodId}
    </select>

    <select id="selectAllProducts" resultType="com.sky.model.Product">
        SELECT prod_id
             ,prod_name
             ,prod_price
        FROM products
    </select>

    <insert id="insertProduct" parameterType="com.sky.model.Product">
        INSERT INTO products (prod_name, prod_price)
        VALUES (#{prodName}, #{prodPrice})
    </insert>

</mapper>