{{>layout/header}}



<h2>Spring Security Sample 웹서비스 </h2>


<a href="/posts" role="button" class="btn btn-primary">사용자 컨텐츠 이동</a>

<a href="/login/login" class="btn btn-info active" role="button">로그인</a><!--스프링시큐리티에서 기본적으로 제공하는 로그아웃 url-->






{{>layout/footer}}


<script>


</script>