@charset "UTF-8";
@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
		font-family: 'KOTRA_BOLD-Bold';
}
body {
		text-align : center;		
}
h1 {
		text-shadow : 2px 2px 5px lime;
		font-size : 3em;
}
textarea {
		margin : 10px;	
}