<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<div style="text-align: center">
<h2>회원가입 화면 </h2>
<form class="form-signin" method="post" action="/login/join">

    <span><input type="text" id="username" name="username" placeholder="아이디" autofocus="" /></span>
    <br><br>
    <input type="text" id="password" name="password" placeholder="비밀번호" />

    <br><br><br>

        <input type="submit" value="회원가입" />
</form>
</div>
</body>
</html>