<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<h2>회원가입 화면 </h2>
<form class="form-signin" method="post" action="/login/join">

    <span><input type="text" id="username" name="username" class="form-control" placeholder="아이디" autofocus="" /></span>
    <br><br>
    <input type="text" id="password" name="password" class="form-control" placeholder="비밀번호" />

    <br><br><br>
    <div style="text-align: center">
        <input id="joinBtn" style="display :inline-block;"type="submit" class="btn btn-info active" value="회원가입" />
    </div>
</form>
</body>
</html>